.output-area {
  @include user-select(none);
  padding-bottom: 80px;

  canvas {
    max-width: 1190px - 30px;
    cursor: move;
    background-color: $canvas-bgc;
  }

  .download-png,
  .download-jpg,
  .hard-reset {
    position: absolute;
    color: $text-color;
    right: 15px;
    bottom: 15px;
    padding: 3px 10px;
    cursor: pointer;
    background-color: $download-btn-bgc;
  }

  .download-jpg {
    right: 120px;
  }

  .hard-reset {
    right: 220px;
  }

  .tips {
    position: absolute;
    color: $asistant-text-color;
    bottom: 10px;
    left: 10px;
  }
}
